<!DOCTYPE html>
{% import 'macros.jinja' as m -%}
<html lang="en">
  <head>
    <link rel=icon href="favicon.png">
    {%- block meta %}
    {%- endblock %}
    <meta charset="utf-8">
    <title>Dreng Awesome Python App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ m.css("/static/css/spectre.min.css") }}
    {{ m.css("/static/css/spectre-exp.min.css") }}
    {{ m.css("/static/css/spectre-icons.min.css") }}
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column col-1 bg-secondary">
        </div>
        <div class="column col-10">
          {%- block content %}
          {%- endblock %}
        </div>
        <div class="column col-1"></div>
      </div>
    </div>
    {{ m.script("/static/js/jquery-3.4.1.min.js") }}
    {%- block scripts %}
    {%- endblock %}
  </body>
</html>