{% extends "base.jinja" %}

{%- block content %}
		<div class="hero-sm bg-gray">
  			<div class="hero-body">
    			<h1>Lab status</h1>
    			<p>Overview of your own progress.<p>
				{% if labs|length %}
				<p>
					<div class="bar bar">
						<div class="bar-item tooltip" data-tooltip="{{ perc }}%" role="progressbar"
							style="width:{{ perc }}%;" aria-valuenow="{{ perc }}" aria-valuemin="0" aria-valuemax="100">{{ perc }}%</div>
					</div>
				</p>
				{% else %}
				<p>To activate, you have to create this rolebinding in your namespace.</p>
				<p>For Kubernetes use:</p>
				<code>kubectl create rolebinding progress --clusterrole=view --serviceaccount={{ ns }}:default --namespace={{ ns }}</code>
				<p>For OpenShift use:</p>
				<code>oc create rolebinding progress --clusterrole=view --serviceaccount={{ ns }}:default --namespace={{ ns }}</code>
				{% endif %}
  			</div>
		</div>
		{% for lab in labs %}
		<div class="tile">
			<div class="tile-icon">
				<figure class="avatar avatar-lg mr-2" data-initial="L{{ loop.index + 4 }}"></i></figure>
			</div>
			<div class="tile-content">
				<!--<p class="tile-title">{{ lab.name }}</p>-->
				<p class="tile-title">{{ lab.desc }}</p>
				<p>
				{% for task in lab.tasks %}
					<span class="label tooltip label-rounded {{ 'label-success' if task.status=="done" else 'label-secondary' }}" data-tooltip="{{ task.desc }}">{{ task.name }}</span>
				{% endfor %}
				</p>
			</div>
		</div>
		{% endfor %}
{%- endblock %}

{%- block scripts %}
{%- endblock %}
