name: Publish Main Version

on:
  push:
    branches:
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - 
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            golang:
              - 'go/**'
            python:
              - 'python/**'
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Login to Quay.io Container Registry
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAYIO_USERNAME }}
          password: ${{ secrets.QUAYIO_TOKEN }}
      -
        name: Build go app image
        if: steps.filter.outputs.golang == 'true'
        uses: docker/build-push-action@v4
        with:
          context: go
          push: true
          tags: |
            quay.io/acend/example-web-go:latest
      -
        name: Run vulnerability scanner
        if: steps.filter.outputs.golang == 'true'
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'quay.io/acend/example-web-go:latest'
          format: 'table'
          output: 'trivy-results.txt'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os'
          severity: 'CRITICAL,HIGH'
      -
        name: Archive vulnerability scan results
        if: steps.filter.outputs.golang == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: trivy-results-main
          path: trivy-results.txt
      -
        name: Build python app image
        if: steps.filter.outputs.python == 'true'
        uses: docker/build-push-action@v4
        with:
          context: python
          push: true
          tags: |
            quay.io/acend/example-web-python:latest
      -
        name: Run vulnerability scanner
        if: steps.filter.outputs.python == 'true'
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'quay.io/acend/example-web-python:latest'
          format: 'table'
          output: 'trivy-results.txt'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os'
          severity: 'CRITICAL,HIGH'
      -
        name: Archive vulnerability scan results
        if: steps.filter.outputs.python == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: trivy-results-main
          path: trivy-results.txt
